<div class="page-loader">
  <div class="page-loader__content">
    <div class="page-loader__content-inner">
      <span class="page-loader__letter">D</span>
      <span class="page-loader__letter">E</span>
      <span class="page-loader__letter">V</span>
      <span class="page-loader__letter">U</span>
      <span class="page-loader__letter">N</span>
      <span class="page-loader__letter">L</span>
      <span class="page-loader__letter">E</span>
      <span class="page-loader__letter">A</span>
      <span class="page-loader__letter">S</span>
      <span class="page-loader__letter">H</span>
    </div>
  </div>
</div>