<ng-container *ngFor="let form of generateForm">
  <div>


    <app-formTitle *ngFor="let item of form.formTitle" [title]="form.formTitle"></app-formTitle>

    <ng-container *ngFor="let item of form.formFields">

      <ng-container *ngIf="item.inputType=='textField'">
        <app-textField [rformgroup]="myFromGroup" [rformcontrolname]="item.formControlName"
          [placeholder]="item?.placeholder">
        </app-textField>
      </ng-container>

      <ng-container *ngIf="item.inputType=='radioBtn'">
        <app-radioBtn [rformgroup]="myFromGroup" [rformcontrolname]="item.formControlName"  
        [options]="item.option">
        </app-radioBtn>
      </ng-container>

      <ng-container *ngIf="item.inputType=='dropdown'">
        <app-dropdown [rformgroup]="myFromGroup" [rformcontrolname]="item.formControlName"  
        [options]="item.option" [multiple]='item.multipleSelect' [placeholder]="item.placeholder" > </app-dropdown>
      </ng-container>

      <ng-container *ngIf="item.inputType=='datePicker'">
        <app-datePicker [rformgroup]="myFromGroup" [rformcontrolname]="item.formControlName"  
         [placeholder]="item.placeholder" > </app-datePicker>
      </ng-container>
      
    </ng-container>
  </div>
</ng-container>