<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-7 mb-6 mb-lg-1 col-lg-4">
            <h2 class="footer-heading mb-4">Community Resources</h2>
            <ul class="list-unstyled">
              <li><a target="_blank" href="https://portal.311.nyc.gov/">New York City 311</a></li>
              <li><a target="_blank" href="https://nypdonline.org/link/1017">File a police report with the nypd</a></li>
              <li><a target="_blank" href="https://www1.nyc.gov/site/nypd/bureaus/patrol/find-your-precinct.page ">Find your nypd precinct</a></li>
              <li><a target="_blank" href="https://www1.nyc.gov/site/cau/community-boards/community-boards.page">Find your community board</a></li>
              <li><a target="_blank" href="https://nyassembly.gov/mem/search/">Find your assembly member</a></li>
              <li><a target="_blank" href="https://www.nysenate.gov/find-my-senator">Find your senator</a></li>
              <li><a target="_blank" href="Find your City Council Member ">Find your City Council Member</a></li>
            </ul>
          </div>
          <div class="col-md-7 mb-6 mb-lg-1 col-lg-4">
            <h2 class="footer-heading mb-4">Donate us</h2>
            <ul class="list-unstyled">
              <li><a target="_blank" href="mailto:Infocopcp@gmail.com">Zelle (QuickPay)</a></li>
              <li><a target="_blank" href="https://www.facebook.com/fund/copcp2020">Facebook</a></li>
              <li><a target="_blank" href="https://gofund.me/87793e7d">Gofund Me</a></li>
            </ul>
          </div>
          <div class="col-md-7 mb-6 mb-lg-1 col-lg-4">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a target="_blank" href="https://www.Facebook.com/copcp2020 " class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a target="_blank" href="https://www.twitter.com/copcp2020 " class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a target="_blank" href="https://www.instagram.com/copcp2020" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h2 class="footer-heading mb-4">Subscribe Now</h2>
        <input class="formfieldstyle" placeholder="Enter your Email" >
        <input type="submit" value='Subscribe'  class="btn btnSubscribe btn-md ">
      </div>
    </div>
    <div class="row pt-5 mt-5">
      <div class="col-12 text-md-center text-left">
        <p>
          &copy; 2021 <strong class="text-black">COPCP</strong> All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>