.col-md-2{
  padding-top: .5rem;
}
.displayFlex{
  display: flex;
  padding: 5px 2rem;
  justify-content: center;
}
.footerElement{
  padding: 0px 3rem;
  color:#ccc ;
}
.footerElement:hover{
  color:black ;
  cursor: pointer;
}