.col-md-2{
  padding-top: .5rem;
}
.displayFlex{
  display: flex;
  padding: 5px 2rem;
  justify-content: center;
}
.footerElement{
  padding: 0px 3rem;
  color:#ccc ;
}
.footerElement:hover{
  color:black ;
  cursor: pointer;
}
.formfieldstyle{
  border: 1px solid #0a686e;
  border-radius: 2px;
}
.btnSubscribe{
  margin-top: 1em;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  padding: 3px 15px;
  background-color:  #0a686e;
  border-radius: 4px;

}