<div class="site-wrap">
  <div class="navigationMenue">
    <div class="logoClass">
      <img src="assets/images/copcp.png"  class="logoImage img-fluid rounded">
    </div>
    <div class="menuitems">
      <div (click)="redirectTo('/')" class="nav-items">
        Home
      </div>
      <div (click)="redirectTo('/aboutUs')" class="nav-items-active">
        About Us
      </div>

      <!-- <div (click)="redirectTo('/gallery')" class="nav-items">
        Gallery
      </div>
      <div (click)="redirectTo('/members')" class="nav-items">
        Members
      </div> -->
      <div (click)="redirectTo('/joinus')" class="nav-items">
        Join Us
      </div>
      <div (click)="redirectTo('/contactUs')" class="nav-items">
        Contact Us
      </div>

    </div>
  </div>
  <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(assets/images/img_4.jpg);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light primarytext">Vision</h2>
          <p class="color-black-opacity-5">Founded after an increase in hate crimes in our community. The Cityline Ozone Park Civilian Patrol is a volunteer-based nonprofit committed to the safety and security of our community. We achieve this goal through our presence and services tailored to the needs of the City Line and Ozone Park Community. We are here to serve the community and its needs.</p>
        </div>
      </div>


    </div>
  </div>
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="https://cdn.iconscout.com/icon/free/png-256/world-map-1448638-1225011.png"
          alt="Free Website Template by Free-Template.co" class=" rounded">

      </div>
      <div class="col-sm-8">
        <h2>Who are we</h2><br>
        <!-- <h6><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6><br> -->
        <p>The Cityline Ozone Park Civilian Patrol was founded in early 2020 after rising hate crimes and overall crime in the City Line and Ozone Park community. We are a volunteer-based organization. Our volunteers undergo extensive training to handle all types of situations as well as obtaining a security license. We work side by side with the Ozone Park Block Association for the betterment of our community. We also maintain a good relationship with our three local precincts. Our volunteers patrol, observe and report daily as well as handling various situations. </p>
      </div>
    </div>
  </div>
  <div class="container-fluid paddingcontainer ">
    <div class="row">
      <div class="col-sm-6">
        <h2>text heading</h2><br>
        <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/img_4.jpg" alt="F-o" class="img-fluid rounded">

      </div>
    </div>
  </div>
  <div class="container-fluid paddingcontainer ">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/img_4.jpg" alt="F-o" class="img-fluid rounded">

      </div>
      <div class="col-sm-6">
        <h2>text heading</h2><br>
        <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid paddingcontainer ">
    <div class="row">
      <div class="col-sm-6">
        <h2>text heading</h2><br>
        <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/img_4.jpg" alt="F-o" class="img-fluid rounded">
      </div>
    </div>
  </div>
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Portfolio</h2><br>
    <h4 class="p-b-10">What we have done</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-4">

        <img src="assets/images/portfolio1.jpeg" alt="Paris" width="300" height="250">
        <p><strong>sd</strong></p>
        <p>Yes, we built df</p>

      </div>
      <div class="col-sm-4">

        <img src="assets/images/portfolio4.jpeg" alt="New York" width="300" height="250">
        <p><strong>New dsf</strong></p>
        <p>We built New dsfsd</p>

      </div>
      <div class="col-sm-4">

        <img src="assets/images/portfolio5.jpeg" alt="San Francisco" width="300" height="250">
        <p><strong>San</strong></p>
        <p>Yes, San is ours</p>

      </div>
    </div>
    <br>

  </div>
  <div class="container-fluid text-center ">
    <h2>our team members</h2><br>
    <div class="row text-center slideanim">
      <div class="col-sm-3">
        <div class="thumbnail">
          <img class="imgprofile" src="assets/images/portfolio1.jpeg" alt="Paris" width="300" height="250">
          <p><strong>sd</strong></p>
          <p>Yes, we built df</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img class="imgprofile" src="assets/images/portfolio4.jpeg" alt="New York" width="300" height="250">
          <p><strong>New dsf</strong></p>
          <p>We built New dsfsd</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img class="imgprofile" src="assets/images/portfolio5.jpeg" alt="San Francisco" width="300" height="250">
          <p><strong>San</strong></p>
          <p>Yes, San is ours</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img class="imgprofile" src="assets/images/portfolio6.jpeg" alt="San Francisco" width="300" height="250">
          <p><strong>San</strong></p>
          <p>Yes, San is ours</p>
        </div>
      </div>
    </div>
    <br>

  </div>
  <div class="container-fluid text-center bg-grey">
    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <img class="imgprofiles" src="assets/images/img_4.jpg" alt="Paris" width="300" height="250">
      </div>
      <div class="col-sm-6 paddingcontainer">
        <h4 class="tbp">CEO Message</h4>
        <p>"Yes, assdasd is ours Yes, assdasd issd issd is ours</p>
        <p>Yes, assdasd is ours Yes, assdasd is ours assdasd is oursYes, assdasd is ours"</p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <br>

  </div>
  <div class="tbp primarybg">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
          <h2 class="mb-3 mt-0 text-white">Donate us</h2>
          <p class="mb-0 text-white">Donations help us maintain daily operations and provide the very best services to our community.</p>
        </div>
        <div class="col-lg-4 text-center">
          <input type="submit" value='Donate now' (click)="redirectTo('/signup')" class="btn btnSignup btn-md ">
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>


</div>