<ul class="list list--icons list--segments">
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-travel-5021a199c168649857469d0b5d6a97bdc02ca570139d9fa51e8e7d34429ebfba.svg"
            alt=""></div><span class="title">Travel</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-healthcare-0def5cfb68992a2e7c8f55f583551d401a41ab292499bea8763b02fa06b9122c.svg"
            alt=""></div><span class="title">Healthcare</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-logistics-6cc4a1bc513c1b33d67b11303edff8e8dca70e286ec891180ac1d08009437e8b.svg"
            alt=""></div><span class="title">Logistics</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-health_fitness-9808efbd9dd4620e9bd07f5f4c6b79e5e88c640838106eaea118371260aa798f.svg"
            alt=""></div><span class="title">Health <br>& fitness</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-events-04b286b77d14a16faa7c56c47a70742e3eae66d38eff792ffd759b902e3437ef.svg"
            alt=""></div><span class="title">Events</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-taxi_booking-d5ad2d165a414f4e46fa2dbba21b6152ab2cb22eef3e0a6e3eeeeeef57f87d44.svg"
            alt=""></div><span class="title">Taxi booking</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-marketplace-5eed7bb8abf133d4330f7f7e04719c2d242e991131846a968acf37d2c5f5564d.svg"
            alt=""></div><span class="title">Marketplace</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-on-demand_delivery-7597a03ebc3c9c1affbbdbb99fcc012e71eabc7b060a9d34824d3e7e6e145616.svg"
            alt=""></div><span class="title">On-demand <br>delivery</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-real_estate-8ceb9f107479026c33a860c482ec3b55d5888487f7b2485e15ff7017ab9017c9.svg"
            alt=""></div><span class="title">Real estate</span>
      </div>
    </a></li>
  <li class="list__item"><a (click)="routeToServices('/serviceitem')" rel="nofollow">
      <div class="list__item-inner">
        <div class="img-wrap"><img class="img"
            src="assets/icons/segments/icon-productivity-9960768dc446fc8459c0fb9e8fa164c0d93f42228d0bf99a06740205ef0260e4.svg"
            alt=""></div><span class="title">Productivity</span>
      </div>
    </a></li>
</ul>
