  <div class="container">
    <div class="section__heading">
      <h2 class="section__title"> {{heading}}</h2>
      <p class="section__intro">{{subHeading}}</p>
    </div>
    <ul class="list list--icons list--platforms">
      <li class="list__item">
        <div class="img-wrap"><img class="img"
            src="assets/icons/platforms/icon-web-9a56946bcabfe4005c769d21a1d4ef799042171ef1380daf534ffb4dc8b00a3c.svg"
            alt=""></div><span class="title">Web</span>
      </li>
      <li class="list__item">
        <div class="img-wrap"><img class="img"
            src="assets/icons/platforms/icon-ios-179930f103fe093c779cfc6ac8fac33e3101175c5c81763cc8269f7fa9e5998e.svg"
            alt=""></div><span class="title">iOS</span>
      </li>
      <li class="list__item">
        <div class="img-wrap"><img class="img"
            src="assets/icons/platforms/icon-android-65850262d7186ca4c0ac675cff6e8371085efe81bdb4d532565b35ab53c3760b.svg"
            alt=""></div><span class="title">Android</span>
      </li>

    </ul>
    <div class="section__control"><a class="btn btn--bordered btn--arrow" (click)="routeToServices('/technologies')"
        rel="nofollow">{{btnText}}</a></div>
  </div>


