@import '../../../app-variables';

.b-r-100 {
    border-radius: 100%;
}
.outline {
    border-width: 1dp;
    border-color: $parretColor;
}

.primaryButton {
    background-color: $primaryColor;
    color: white;
}
.primaryGoogle {
    background-color: #ea4436;
    color: white;
}
.primaryFacebook {
    background-color: #3b5998;
    color: white;
}
.primarysignup {
    background-color: $signup;
    color: white;
}
.primaryRanking {
    background-color: $activeColor;
    color: white;
}
