
.f-9 {
    font-size: 9dp;
}

.f-10 {
    font-size: 10dp;
}

.f-11 {
    font-size: 11dp;
}

.f-12 {
    font-size: 12dp;
}

.f-13 {
    font-size: 13dp;
}

.f-14 {
    font-size: 14dp;
}

.f-15 {
    font-size: 15dp;
}

.f-16 {
    font-size: 16;
}

.f-17 {
    font-size: 17dp;
}

.f-18 {
    font-size: 18dp;
}

.f-20 {
    font-size: 20dp;
}

.f-22 {
    font-size: 22dp;
}

.f-24 {
    font-size: 24dp;
}

.f-26 {
    font-size: 26dp;
}

.f-27 {
    font-size: 27dp;
}

.f-30 {
    font-size: 30dp;
}

.f-40 {
    font-size: 40dp;
}



// font weight


.f-100 {
    font-weight: 100;
}
.f-200 {
    font-weight: 200;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600  {
    font-weight: 600;
}

.f-800  {
    font-weight: 800;
}

.f-bold {
    font-weight: 700;
}

.f-bolder {
    font-weight: 900;
}







