.pagestyle{
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginsection{
    width: 30vw;
    height: 55vh;
    padding: 2rem;
}