<div class="site-wrap">


  <div class="navigationMenue">
    <div class="logoClass">
      <img src="assets/images/copcp.png"  class="logoImage img-fluid rounded">
    </div>
    <div class="menuitems">
      <div (click)="redirectTo('/profileDetail')" class="nav-items-active">
        Members Detail
      </div>
      <div (click)="redirectTo('/members')" class="nav-items">
        Members
      </div>
      <div (click)="redirectTo('/settings')" class="nav-items">
        Dashboard
      </div>
      <div (click)="redirectTo('/contactUs')" class="nav-items">
        Contact Us
      </div>

    </div>
  </div>


  <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(assets/images/img_4.jpg);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h1>Members Detail</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 tabDiv">

        <mat-tab-group>
          <mat-tab label="Profile Detail">

            <div class="displayFlex">
              <div class="heading">
                Nam kmflfm
              </div>
            </div>
            <div>
            </div>

            <div class="heading">
              Details
            </div>
            <div class="displayFlex marginxy13">
              <i class="material-icons">phone</i>
              4094545677657657
            </div>
            <div class="displayFlex marginxy13">
              <i class="material-icons">email</i>
              kamkm@fdydf
            </div>
            <div class="displayFlex marginxy13">
              <i class="material-icons">location_city</i>
              l,kmkmjmkjmk
            </div>

          </mat-tab>


          <mat-tab label="Schedule">


            <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div>
            <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div> <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div> <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div> <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div> <div class="brderBtm marginx3">
              <div class="subheading  ">
                time
              </div>

              <div class="subPar ">
                descriptiondescriptiondescriptiondescriptiondescriptiondescription
              </div>
            </div>

          </mat-tab>

        </mat-tab-group>

      </div>
      <div class="col-md-2">
      </div>

    </div>
  </div>