<section class="section section--contacts" data-bg="black" data-scroll-type="hide-header" data-offset="-75"
  data-duration="0" data-trigger-hook="0">
  <div class="container">
    <div class="sender">
      <div class="sender__content">
        <div class="section__heading">
          <h2 class="section__title">{{heading}}</h2>
          <p class="section__intro">{{subHeading}}</p>
        </div>
        <div class="section__control">
          <a class="btn btn--primary" (click)="routeToServices('/contact')" rel="nofollow">
            {{btnText}}
            </a>
          </div>
      </div>
    </div>
  </div>
</section>

