/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field{
    width: 100%;
}

.mat-option-pseudo-checkbox{
    display: none!important;
}
.btn{
    cursor: pointer;
}

.navigationMenue{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    height:3.7rem;
    z-index: 1;
    color: white;
    width: 100%;
    padding: 10px 30px;
}

.logoClass{
    height: 5rem;
    width: 5rem;

}
.logoImage{
    margin-top:-1rem
}
.menuitems{
    display: flex;

}
.nav-items{
    padding: 5px 20px;
    color: rgb(231, 231, 231); 
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.nav-items:hover{
    border-radius: 30px;
    // background-color: #f78787;
    color: white; 
}

.nav-items-active{
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    border: 1px solid #00b6e5;
    border-radius: 30px;
    background-color: #00b6e5;
    color: white; 
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important;
}
@media screen and (max-width: 769px) {
    .logoClass{
        display: none;
    }
    .nav-items{
        // padding: 5px 20px;
        color: white; 
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
    }
    .mobilenodisplay{
        display: none;
    }
    
    .nav-items:hover{
        border-radius: 30px;
        background-color: #00b6e5;
        color: white; 
    }
    
    .nav-items-active{
        font-size: 1rem;
        font-weight: 400;
        // padding: 5px 20px;
        border: 1px solid #00b6e5;
        border-radius: 30px;
        background-color: #00b6e5;
        color: white; 
    }
}
@media screen and (min-width: 800px) {
    .bignodisplay{
        display: none;
    }
}