.imageclas{
height: 55vh !important;
width: 100% !important;
}

.tbp{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btnSignup{
    margin-top: 2rem;
    color: #0a686e;
    text-align: right;
}
.bgred{
    background-color: red;
}
.p-t-20{
    padding-top: 20px;
    color: white;
}
.joinusbtn{
    border-radius: 30px;
    background-color: #0a686e;
    color: white; 
    padding: .8rem 5rem;
    margin-top: 2rem;
}
.primarytext{
    color: #0a686e;
}
.primaryborder{
    border-bottom:2px solid  #0a686e !important;
}
.primarybg{
    background-color: #0a686e;
}