<div class="site-wrap">
  <app-header></app-header>
  <div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_1.jpg);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-10">

          <div class="row justify-content-center mb-4">
            <div class="col-md-10 text-center">
              <h1 data-aos="fade-up">Meet someone special</h1>
            </div>
          </div>

          <div class="form-search-wrap p-2" data-aos="fade-up" data-aos-delay="200">
            <form method="post">
              <div class="col-lg-12 col-xl-5 font-weight-light text-primary pb-3 ">
                <h3> Search your Soulmate by</h3>
              </div>
              <div class="row align-items-center">

                <div class="col-lg-12 col-xl-3 no-sm-border border-right pb-2">
                  Cast
                </div>
                <div class="col-lg-12 col-xl-3 no-sm-border border-right pb-2">
                  Martial Status
                </div>
                <div class="col-lg-12 col-xl-3 no-sm-border border-right pb-2">
                  Education Level
                </div>
                <div class="col-lg-12 col-xl-3  pb-2">
                  Profession
                </div>
                <div class="col-lg-12 col-xl-3 no-sm-border border-right pb-2">
                  City
                </div>
                <div class="col-lg-12 col-xl-3 no-sm-border border-right pb-2">
                  Religion
                </div>
                <div class="col-lg-12 col-xl-3  pb-2">
                  Income
                </div>

                <div class="col-lg-12 col-xl-2 ml-auto text-right pt-5">
                  <div class="btn text-white btn-primary" (click)="redirectTo('/listings')">
                    Search
                  </div>
                </div>

              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>


  
  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Find Your Special Someone</h2>
          <p class="color-black-opacity-5">Find you soulmate by free signup.Find you soulmate by free signup. Find you
            soulmate by free signup.Find you soulmate by free signup.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
          <div class="how-it-work-step">
            <div class="img-wrap">
              <img src="assets/images/step-2.svg" alt="" class="img-fluid">
            </div>
            <span class="number">1</span>
            <h3>SignUp</h3>
            <p>Register for free and put up your profile</p>
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
          <div class="how-it-work-step">
            <div class="img-wrap">
              <img src="assets/images/step-1.svg" alt="" class="img-fluid">
            </div>
            <span class="number">2</span>
            <h3>Connect</h3>
            <p>Select and connect with you like</p>
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
          <div class="how-it-work-step">
            <div class="img-wrap">
              <img src="assets/images/step-3.svg" alt="" class="img-fluid">
            </div>
            <span class="number">3</span>
            <h3>Interact</h3>
            <p>Become a premium member and start conversation</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Featured Grooms</h2>
          <p class="color-black-opacity-5">See Our selection of Grooms</p>
        </div>
      </div>

      <div class="row mb-3 align-items-stretch">

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4"  *ngFor="let item of list">
          <div class="h-entry" (click)="routeToServices(item)"  *ngIf="item?.gender === 'male' && item?.featured">
            <img [src]="item.image" [alt]="item.image" class="img-fluid">
            <div class="h-entry-inner">
              <h2 class="font-size-regular"><a href="/profileDetail"> {{item.name}}</a></h2>
              <div class="meta mb-4"> <a>Cast: {{item.cast}}</a>
                <span class="mx-3"> </span>Age: {{item.age}}

              </div>
              <p>{{item.address}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Featured Brides</h2>
          <p class="color-black-opacity-5">See Our selection of Brides</p>
        </div>
      </div>
      <div class="row mb-3 align-items-stretch">

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4"  *ngFor="let item of list">
          <div class="h-entry"  (click)="routeToServices(item)" *ngIf="item?.gender === 'female' && item?.featured">
            <img [src]="item.image" [alt]="item.image" class="img-fluid">
            <div class="h-entry-inner">
              <h2 class="font-size-regular"><a href="/profileDetail">{{item.name}}</a></h2>
              <div class="meta mb-4"> <a> {{item.cast}}</a>
                <span class="mx-3"> </span>Age {{item.age}}
              </div>
              <p>{{item.address}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- <div class="pl-5 pt-5 site-footer bg-light">
      <h1 class="font-weight-light text-primary pb-5 text-center">Search By Popular Matchmaking Site</h1>
      <div class="row">
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4">Mother tongue</h2>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Urdu</a></li>
                <li><a class="item-font" href="#">English</a></li>
                <li><a class="item-font" href="#">Hindi</a></li>
                <li><a class="item-font" href="#">Arabic</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Punjabi</a></li>
                <li><a class="item-font" href="#">Persion</a></li>
                <li><a class="item-font" href="#">Balochi</a></li>
                <li><a class="item-font" href="#">Pashto</a></li>
              </ul>
            </div>

          </div>

        </div>
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4 pl-5">Cast</h2>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Sheikh</a></li>
                <li><a class="item-font" href="#">Jutt</a></li>
                <li><a class="item-font" href="#">Mughal</a></li>
                <li><a class="item-font" href="#">Butt</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Sulehria</a></li>
                <li><a class="item-font" href="#">Jutt</a></li>
                <li><a class="item-font" href="#">Mughal</a></li>
                <li><a class="item-font" href="#">Butt</a></li>
              </ul>
            </div>

          </div>

        </div>
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4 pl-5">Cities</h2>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Lahore</a></li>
                <li><a class="item-font" href="#">Islamabad</a></li>
                <li><a class="item-font" href="#">Karachi</a></li>
                <li><a class="item-font" href="#">Quetta</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">Peshawar</a></li>
                <li><a class="item-font" href="#">Gujranwala</a></li>
                <li><a class="item-font" href="#">Sialkot</a></li>
                <li><a class="item-font" href="#">Rawalpindi</a></li>
              </ul>
            </div>

          </div>

        </div>

        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4 pl-5">Countries</h2>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#"></a></li>
                <li><a class="item-font" href="#">Pakistan</a></li>
                <li><a class="item-font" href="#">India</a></li>
                <li><a class="item-font" href="#">Saudia</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a class="item-font" href="#">America</a></li>
                <li><a class="item-font" href="#">Canada</a></li>
                <li><a class="item-font" href="#">London</a></li>
                <li><a class="item-font" href="#">Malaysia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div> -->

    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
            <h2 class="mb-3 mt-0 text-white">Let's get started. Create your account</h2>
            <p class="mb-0 text-white">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
          <div class="col-lg-4">
            <p class="mb-0"><a href="signup.html"
                class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>


  <!-- <div class="site-section" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Featured Profiles</h2>
          <p class="color-black-opacity-5">Shaadi is a very important decision in one's life. Getting a good rishta is
            everyone's dream. Matrimonial and shadi online services are for the people who are truly interested in
            marriage and are serious to get married</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 mb-4 mb-lg-4 col-lg-4" (click)="routeToServices(item)" *ngFor="let item of list?.featured">
          <div class="listing-item">
            <div class="listing-image">
              <img [src]="item.image" [alt]="item.image" class="img-fluid">
            </div>
            <div class="listing-item-content">
              <a class="px-3 mb-3 category" (click)="redirectTo('/profileDetail')" >View profile</a>
              <h2 class="mb-1"><a>{{item.name}}</a></h2>
              <span class="address">{{item.address}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <!-- <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Featured Profiles</h2>
          <p class="color-black-opacity-5">Shaadi is a very important decision in one's life. Getting a good rishta is everyone's dream. Matrimonial and shadi online services are for the people who are truly interested in marriage and are serious to get married</p>
        </div>
      </div>

      <div class="row align-items-stretch">
        <div class="col-8 col-sm-8 col-md-6 mb-6 mb-lg-2 col-lg-4">
          <a href="#" class="popular-category h-100">
            <img src="assets/images/img_1.jpg" class="featuredImage">
            <span class="caption mb-2 d-block">Name of profile</span>
            <span class="number">City of Profile</span>
          </a>
        </div>
       
      </div>

      <div class="row mt-5 justify-content-center tex-center">
        <div class="col-md-4"><a href="#" class="btn btn-block btn-outline-primary btn-md px-5">View more</a></div>
      </div>
    </div>
  </div> -->


  <!-- <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Featured Profiles</h2>
          <p class="color-black-opacity-5">Shaadi is a very important decision in one's life. Getting a good rishta is everyone's dream. Matrimonial and shadi online services are for the people who are truly interested in marriage and are serious to get married</p>
        </div>
      </div>

      <div class="row align-items-stretch">
        <div class="col-8 col-sm-8 col-md-6 mb-6 mb-lg-2 col-lg-4">
          <a href="#" class="popular-category h-100">
            <img src="assets/images/img_1.jpg" class="featuredImage">
            <span class="caption mb-2 d-block">Name of profile</span>
            <span class="number">City of Profile</span>
          </a>
        </div>
       
      </div>

      <div class="row mt-5 justify-content-center tex-center">
        <div class="col-md-4"><a href="#" class="btn btn-block btn-outline-primary btn-md px-5">View more</a></div>
      </div>
    </div>
  </div> -->





  <!-- <div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <img src="assets/images/img_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid rounded">
      </div>
      <div class="col-md-5 ml-auto">
        <h2 class="text-primary mb-3">Why Us</h2>
        <div class="row mt-4">
          <div class="col-12">
            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false"
                aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">How to list my item?</a>

              <div class="collapse" id="collapse-1">
                <div class="pt-2">
                  <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast
                    of the Semantics, a large language ocean.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false"
                aria-controls="collapse-4" class="accordion-item h5 d-block mb-0">Is this available in my country?</a>

              <div class="collapse" id="collapse-4">
                <div class="pt-2">
                  <p class="mb-0">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your
                    mouth.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false"
                aria-controls="collapse-2" class="accordion-item h5 d-block mb-0">Is it free?</a>

              <div class="collapse" id="collapse-2">
                <div class="pt-2">
                  <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts it is an almost
                    unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided
                    to leave for the far World of Grammar.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false"
                aria-controls="collapse-3" class="accordion-item h5 d-block mb-0">How the system works?</a>

              <div class="collapse" id="collapse-3">
                <div class="pt-2">
                  <p class="mb-0">The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
                    wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                    seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->


  <!-- <div class="site-section bg-light">
  <div class="container">

    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Satisfied Customers</h2>
      </div>
    </div>

    <div class="slide-one-item home-slider owl-carousel">

      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="assets/images/person_3_sq.jpg" alt="Free Website Template by Free-Template.co"
              class="img-fluid mb-3">
            <p>Willie Smith</p>
          </figure>
          <blockquote>
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.&rdquo;</p>
          </blockquote>
        </div>
      </div>


      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="assets/images/person_2_sq.jpg" alt="Free Website Template by Free-Template.co"
              class="img-fluid mb-3">
            <p>Robert Jones</p>
          </figure>
          <blockquote>
            <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It
              is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="assets/images/person_4_sq.jpg" alt="Free Website Template by Free-Template.co"
              class="img-fluid mb-3">
            <p>Peter Richmond</p>
          </figure>
          <blockquote>
            <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost
              unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to
              leave for the far World of Grammar.&rdquo;</p>
          </blockquote>
        </div>
      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="assets/images/person_5_sq.jpg" alt="Free Website Template by Free-Template.co"
              class="img-fluid mb-3">
            <p>Bruce Rogers</p>
          </figure>
          <blockquote>
            <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
              Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven
              versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div> -->