.imageclas{
height: 55vh !important;
width: 100% !important;
}

.tbp{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btnSignup{
    margin-top: 2rem;
    color: #f38181;
    text-align: right;
}
.bgred{
    background-color: red;
}