.featuredImage{
    height: 20rem;
}
.m-t-10{
    margin-top: 30px;
}
.paddingcontainer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.row{
    justify-content: center;
}
.mainDiv{
    -webkit-box-shadow: 0px 0px 20px -6px #ccc;
    -moz-box-shadow: 0px 0px 20px -6px #ccc;
    box-shadow: 0px 0px 20px -6px #ccc;
    height: 45rem;
}

.mainDiv .col-md-8{
    padding-left: 0px !important;
}
.mainDiv .col-md-4{
    padding-right: 0px !important;
}

.tabDiv{
    -webkit-box-shadow: 0px 0px 20px -6px #ccc;
    -moz-box-shadow: 0px 0px 20px -6px #ccc;
    box-shadow: 0px 0px 20px -6px #ccc;
    height:auto;
    padding: 10px;
    margin-bottom: 20px;
}

.imageBox{
    -webkit-box-shadow: 0px 0px 20px -6px #ccc;
    -moz-box-shadow: 0px 0px 20px -6px #ccc;
    box-shadow: 0px 0px 20px -6px #ccc;
    background-color: white;
    height: 360px;
    margin-top: -4rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.heading{
    font-size: 20px;
    color: #00b6e5;
    padding: 10px;
}

.subheading{
    font-weight: 400;
    color: #00b6e5;
    font-size: 16px;;
}

.p-20{
    padding: 2rem;
}
.liclass{
    color: #776e6e;
    padding: 1rem 0rem;
}
.roundImage{
    // border-radius: 20px;
    height: 220px;
    width: 220px;
    // // overflow: hidden;
    margin-top: 1rem;
}

.display-flex{
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.color{
    background-color: red;
}


.photProfile{
    height: 220px;
    width: 220px;

}

.deleteBtn{
    font-size: 15px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    padding: .4rem 1rem;
}
.deleteBtn:hover{
    font-size: 15px;
    cursor: pointer;
    background-color: red;
    color: white;
}

.overlay{
    height: 150px;
}

.tabheight{
    height: 50vh;
}
.brderBtm{
    border-bottom: 1px solid #ccc;
}
p{
    font-weight: 400;
    font-size: 15px;
}

.material-icons{
    color: #00b6e5;
    margin-right: 1rem;
}

.displayFlex{
    display: flex;
}
.marginxy13{
    margin: 1rem 3rem;
}
.marginx3{
    margin: 1rem 3rem;
}
.subPar{
    font-size: 14px;
    font-weight: 400;
}
.py-2{
    margin-top: 1rem;
}
.btn{
    font-size: 18px;
   
}
.btn:hover{
    color: #00b6e5;
    text-decoration: underline;
    cursor: pointer;
}
.justifyCont{
    justify-content:space-between !important;

}
.mxy{
    margin: 1rem  0rem 1rem 15rem ;
}
.mxy2{
    margin: 1rem  0rem 1rem 12rem ;
}
.pxy{
     padding-left: 7rem;
    padding-top: 3rem;
}
.linked{
    color: #776e6e;
    padding: 1rem 0rem;
}
.linked:hover{
    color: #00b6e5;
    text-decoration: underline;
    cursor: pointer;
}
.headingclas{
    color: black ;
    padding-right: 1rem;
    font-size: 19px;

}
.liClass{
    margin: 10px 10px;
    width: 97% !important;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 0px 20px -6px #ccc;
    -moz-box-shadow: 0px 0px 20px -6px #ccc;
    box-shadow: 0px 0px 20px -6px #ccc;  
    padding: 10px;
    color: #6f6f6f;
    font-size: 17px;
    font-weight: 400;
}


.abspos{
    position: absolute;
    top: 1;
    top: 16.6rem;
    right: 4.5rem;
}
.devoutline{
    background-color: white;
    border: 1px solid #00b6e5;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #00b6e5;
    width: 9rem;
    text-align: center;
    border-radius: 100px;
}

.devoutline:hover{
    background-color: #00b6e5;
    color: white;
    cursor: pointer;
}
.img-fluid{
    border-radius:10px;
}
.pointer{
    cursor: pointer;
}