<div class="site-wrap">

  <div class="navigationMenue">
    <div class="logoClass">
      <img src="assets/images/copcplogo.png"  class="logoImage img-fluid rounded">

    </div>
    <div class="menuitems">
      <div (click)="redirectTo('/')" class="nav-items">
        Home
      </div>
      <div (click)="redirectTo('/admin')" class="nav-items-active">
        Dashboard
      </div>
      <div (click)="redirectTo('/members')" class="nav-items">
        Members
      </div>

    </div>
  </div>


  <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(assets/images/coverother.jpeg);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h1>Welcome Tahir</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">

    <div class="container">
      <input type="submit" value="Logout" (click)="onLogout()" class="abspos btn btn-primary btn-md text-white">
      <div class="row mainDiv">
        <div class="col-md-4">
          <div class="imageBox text-center">
            <div class="display-flex">
              <div class="roundImage">

                <div>
                  <img *ngIf="detail?.image" [src]="detail?.image" [alt]="detail?.image" class="img-fluid">
                </div>

              </div>
            </div>
            <div class="py-2">
              {{detail?.name}}
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <mat-tab-group>
            <mat-tab label=" Settings">
              <div class="heading ">
                Change your Account Settings
              </div>

              <div>
                <ul>
                  <li (click)="editname=!editname" *ngIf="!editname" class="linked">
                    Edit your Name
                  </li>
                  <li *ngIf="editname">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="changename">
                    </app-inputControlSelector>
                  </li>
                  <li (click)="editpassword=!editpassword" *ngIf="!editpassword" class="linked">
                    Change your Password
                  </li>
                  <li *ngIf="editpassword">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="changePassword">
                    </app-inputControlSelector>
                  </li>

                  <li (click)="editphone=!editphone" *ngIf="!editphone" class="linked">
                    Change your Phone Number
                  </li>
                  <li *ngIf="editphone">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="changePhone">
                    </app-inputControlSelector>
                  </li>

                  <li (click)="editemail=!editemail" *ngIf="!editemail" class="linked">
                    Change your Email
                  </li>
                  <li *ngIf="editemail">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="changeEmail">
                    </app-inputControlSelector>
                  </li>

                  <li (click)="editaddress=!editaddress" *ngIf="!editaddress" class="linked">
                    Change your Address
                  </li>
                  <li *ngIf="editaddress">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="changeAddress">
                    </app-inputControlSelector>
                  </li>


                </ul>
              </div>

              <div *ngIf="editaddress || editname || editemail || editphone || editpassword">
                <input type="submit" value="Save Changes" (click)="onvalueUpdate()"
                  class=" btn-primary btn-md text-white">

              </div>


            </mat-tab>

            <mat-tab label="Schedule">
              <div class="heading ">
                Enter ou schedule
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="time">
                    </app-inputControlSelector>
                  </div>
                  <div class="col-md-1">

                  </div>
                  <div class="col-md-8">
                    <app-inputControlSelector [myFromGroup]="updateProfileGroup" [generateForm]="description">
                    </app-inputControlSelector>
                  </div>

                </div>
                <div class="displayFlex marginxy13 pointer">
                  <i class="material-icons">add</i>
                  Add New Schedule
                </div>


              </div>


            </mat-tab>

          </mat-tab-group>

        </div>
      </div>
    </div>
  </div>
</div>